.button {
  padding: var(--padding-small);
  border-radius: var(--border);
  text-align: end;
  background-color: var(--accent);
  color: white;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.button:hover {
  background-color: var(--accent-dark);
}

@supports (-webkit-touch-callout: none) {
  .button {
    margin: 5px;
  }
}
