.button {
  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);
  box-shadow: 0px 4px 5px black;

  /* Alignment */
  display: block;
  margin: auto;
  width: auto;
  text-align: center;
  bottom: 3.5em;
  right: 1em;

  z-index: 5;
  user-select: none;
  font-size: 20px;
  line-height: 26px;
  transition: 0.2s;
}

.button a {
  color: #ffffff;

  /* Alignment */
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;

  overflow: auto;
}

.button i {
  margin-left: 10px;
}

.button:hover {
  background-color: var(--color-primaryDark);

  cursor: pointer;
}

.floatingButton {
  /* Colors */
  background-color: var(--color-primary);
  box-shadow: 0px 4px 5px black;
  border-radius: var(--border);
  color: white;

  /* Alignment */
  display: block;
  position: fixed;
  text-align: center;
  width: auto;
  min-width: 52px;
  height: 52px;
  bottom: 3.5em;
  right: 1em;
  padding: 15px;

  font-size: 20px;
  line-height: 26px;
  z-index: 1;
  transition: 0.2s;
}
.floatingButton:hover {
  background-color: var(--color-primaryDark);
  cursor: pointer;
}

.cardButton {
  transition: 0.2s;
}

.cardButton:hover {
  transform: scale(var(--button-scale));
}

@media screen and (max-width: 720px) {
  .floatingButton {
    z-index: 5;
  }
  .cardButton {
    height: 60px;
  }
}
