.cardListContainer {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.cardListFeed {
  padding: 0;
  color: white;
  display: flex;
  /* margin: 18px; */
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.cardListFeed li {
  list-style: none;
}

.activityEntry {
  background-color: var(--french-violet);
  border-radius: var(--border);
  width: 197.3px;
  height: auto;
  /* padding: 0 0 2px 0; */
  margin: 1em;

  position: relative;
}

.list .cover {
  border-radius: var(--border);
  overflow: hidden;

  height: 265px;
  width: auto;
  object-fit: cover;

  display: inline-block;
  position: relative;
}

.list {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.list:hover .details {
  opacity: 1;
  height: 65%;
}

.details {
  user-select: none;

  height: 0%;
  opacity: 0;

  border-radius: 0 0 var(--border) var(--border);

  background-color: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));

  position: absolute;
  bottom: 0px;

  width: 100%;

  flex-direction: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70px;
  padding: 14px 5px;

  transition: 0.2s;
}

.details a {
  margin: 5px;
  padding: 5px;
  width: 95%;
  height: 60px;
  background-color: var(--french-violet);
  border-radius: var(--border);
  cursor: pointer;

  display: flex;
  text-align: center;

  transition: 0.2s;
}
.details a i {
  padding: 5px;
  font-size: large;
  margin: auto;
  padding: auto;
}

.details a:hover {
  transform: scale(var(--button-scale));
}

.quickEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.quickEdit div {
  display: flex;
  flex-direction: row;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  max-height: 58px;

  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin: 0%;
}

/* RESULT CARD */
.viewDetails {
  user-select: none;

  opacity: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  background-color: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5); */

  /* background-color: var(--spanish-violet); */
  border-radius: var(--border);

  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40%;
  vertical-align: middle;

  transition: 0.2s;
  z-index: 5;
  text-align: center;

  transition: 0.2s;
}

.viewDetails a {
  font-size: 45px;
  font-weight: bolder;
}

div:hover > .viewDetails {
  height: 88%;
  display: flex;

  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .activityEntry {
    margin: 1px;
    margin-bottom: 1em;
  }
  .cardListContainer {
    height: 100%;
    width: 100%;
  }
}
