.footerButton {
  position: relative;
  display: inline-block;

  width: 35px;
  height: 35px;
  font-size: 10px;
  text-align: center;

  color: white;
  background-color: var(--color-primary);

  border-radius: var(--border);
  border: none;
  text-decoration: none;
  cursor: pointer;

  margin: 5px;

  transition: 0.2s;
}

.footerButton i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerButton:hover {
  background-color: var(--color-primaryDark);
}

.footer {
  /* Colors */
  background-color: black;
  border-top: 1px solid #ffffff;
  color: #ffffff;

  /* Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  overflow: hidden;
  z-index: 1;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 0 20px 0 20px;

  user-select: none;
  font-weight: bold;
}

.footer a {
  padding-right: 10px;
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .footer {
    position: relative;
    bottom: 0;
    height: auto;
    flex-flow: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer p {
    line-height: 0;
    padding: 0 5px 0 5px;
  }
}

.dark {
  /* Colors */
  background-color: var(--backgroundColor-themeDark);
  color: #ffffff;
  border-top: 1px solid #000000;

  transition: 0.2s;
}
.light {
  /* Colors */
  background-color: var(--backgroundColor-themeLight);
  color: black;
  border-top: 1px solid black;

  transition: 0.2s;
}
