.footer {
  text-align: center;

  background-color: var(--background-secondary);

  padding: 2rem 0;
  user-select: none;

  .container {
    color: black;

    .title {
      font-size: var(--font-medium);
    }

    .social {
      padding-top: var(--padding-medium);
      color: black;

      li {
        margin-top: 5px;
        border-radius: var(--border);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: white;
          background-color: var(--accent);
        }
      }
      li a {
        padding: var(--padding-small);
        display: inline-block;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .social {
    flex-direction: column;
  }
}
