.footer {
  text-align: center;

  background-color: var(--background-secondary);

  padding: var(--padding-medium);
  margin-top: var(--padding-normal);
  user-select: none;

  .container {
    .title {
      font-size: var(--font-medium);
    }

    .social {
      padding-top: var(--padding-medium);
      align-items: stretch;

      a {
        padding: var(--padding-small);
        display: inline-block;
        width: 100%;

        margin-top: 5px;
        border-radius: var(--border);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: white;
          background-color: var(--accent);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .social {
      flex-direction: column;
    }
  }
}
