.subtitle {
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
  margin: auto;

  justify-self: center;

  user-select: none;

  display: flex;
  flex-direction: row;

  margin-top: 6px;
  margin-bottom: 6px;

  &:after {
    content: "";
    flex: 1 1;
    border: 3px solid;
    background-color: black;
    border-radius: 50px;
    margin: auto;
    margin-left: 5px;
  }
}
