.inputFieldWrap,
.customSelect {
  /* Alignment */
  font-size: var(--large-font);
}

.title {
  margin: 0;

  text-align: center;
  user-select: none;
}

.inputFieldWrap .inputField {
  /* Colors */
  background-color: white;
  border-radius: var(--border);

  padding: 0.25em 0.5em;
}

.inputFieldWrap .inputField:invalid {
  background-color: hsla(0, 100%, 50%, 85%);
}

.customSelect {
  border-radius: var(--border);

  width: 100%;
  padding: 0.25em 0.5em;

  line-height: 1.1;
}

@-moz-document url-prefix() {
  .inputFieldWrap .inputField {
    width: 100%;
  }
}
