.inputFieldWrap,
.customSelect {
  /* Alignment */
  width: 100%;
  font-size: var(--font-normal);
}

.title {
  margin: 0;
  font-size: var(--font-normal);
  text-align: left;
  user-select: none;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.inputFieldWrap {
  input {
    width: 100%;
    border-radius: var(--border);

    padding: 0.5em 0.5em;
    margin: 0 0 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--accent);
  }

  input:invalid {
    border-color: var(--alert);
  }
}

.customSelect {
  width: 100%;
  border-radius: var(--border);

  padding: 0.5em 0.5em;
  margin: 0 0 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--accent);
}
