.inputFieldWrap,
.customSelect {
  /* Alignment */
  width: 100%;
  font-size: var(--font-normal);
}

.title {
  margin: 0;
  font-size: var(--font-normal);
  text-align: left;
  user-select: none;
}

.inputFieldWrap {
  input {
    width: 100%;
    /* Colors */
    border-radius: var(--border);
    padding: 0.25em 0.5em;
  }

  input:invalid {
    background-color: hsla(0, 100%, 50%, 85%);
  }
}

.customSelect {
  border-radius: var(--border);

  width: 100%;
  padding: 0.25em 0.5em;

  line-height: 1.1;
}

@-moz-document url-prefix() {
  .inputFieldWrap {
    input {
      width: 100%;
    }
  }
}
