.inputField {
  padding: 10px;
  /* flex-basis: 33.333333%; */
  text-align: center;
}

.inputField > h3 {
  margin: 0;
  user-select: none;
}

.inputField > input {
  font-size: 24px;
  /* font-size: max(32px, 1em); */
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border-radius: var(--border);
}

@-moz-document url-prefix() {
  .inputField > input {
    width: 100%;
  }
}
