.inputFieldWrap,
.customSelect {
  /* Alignment */
  // width: 100%;
  font-size: var(--font-normal);
  flex: 1;
}

.title {
  margin: 0;
  font-size: var(--font-normal);
  text-align: left;
  user-select: none;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.inputFieldWrap {
  input {
    width: 100%;
    border-radius: var(--border);

    padding: var(--padding-small) var(--padding-small);
    margin: 0 0 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--accent);

    text-transform: capitalize;
  }

  input:invalid {
    border-color: var(--alert);
  }
}

.customSelect {
  width: 100%;
  border-radius: var(--border);

  padding: var(--padding-small) var(--padding-small);
  margin: 0 0 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--accent);
}
