.nav {
  background-color: var(--accent);
  color: white;

  position: sticky;

  top: 0;
  right: 0;
  left: 0;

  z-index: var(--z-fixed);
  user-select: none;
  padding: 5px 10px 5px 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .links {
      border-radius: var(--border);

      color: white;
      padding: 10px;

      height: 100%;
      // box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: var(--accent-dark);

      gap: 10px;

      a {
        display: inline-block;
      }
    }
  }
}

.notificationOverlay {
  right: 130px;
  top: 65px;
  width: 40rem;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}

.userMenuOverlay {
  left: 5px;
  top: 65px;
  width: 15rem;

  .button {
    padding: 5px;
    border-radius: var(--border);
    text-align: end;
  }

  .button:hover {
    background-color: var(--accent-dark);
  }
}
