.nav {
  background-color: var(--accent);
  color: white;

  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;

  top: 0;
  right: 0;
  left: 0;

  z-index: var(--z-absolute);
  user-select: none;
  padding: var(--padding-small);

  .container {
    height: 100%;
    width: 100%;
    gap: 0;

    .rightMenu {
      flex: 0;
    }

    .links {
      border-radius: var(--border);

      color: white;
      padding: var(--padding-small);

      height: 100%;
      background-color: var(--accent-dark);

      gap: 10px;

      a {
        display: inline-block;
      }
    }
  }
}

.notificationOverlay {
  right: 50px;
  top: 70px;
  width: 40rem;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}

.userMenuOverlay {
  right: 90px;
  top: 70px;
  width: 15rem;
}
