.notificationItem {
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  border-radius: var(--border);
  background-color: var(--accent);
  padding: 0.5rem;

  .newIndicator {
    padding: 0 10px 0 10px;
    font-weight: var(--font-bold);
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--alert);
    font-size: var(--font-small);
    border-radius: 0 0 0 var(--border);
  }
  img {
    opacity: 1;
    border-radius: var(--border);
  }
  p {
    margin: 20px 0 0 0;
    font-size: var(--font-small);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
