.main {
  /* Colors */
  background-color: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));

  /* Alignment */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 5;
}

.main .inform {
  /* Colors */
  color: white;

  /* Alignment */
  position: absolute;
  top: 10px;

  user-select: none;
}
