.container {
  /* Colors */
  background-color: var(--color-primary);
  border: 1px solid white;
  border-radius: var(--border);
  color: white;

  /* Alignment */
  position: fixed;
  width: 400px;
  height: 75px;
  bottom: 10px;
  left: 10px;

  /* transform: translateY(0); */
  -webkit-animation: popup 5s forwards cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation: popup 5s forwards cubic-bezier(0.68, -0.6, 0.32, 1.6);

  overflow: hidden;
  user-select: none;
  z-index: 999;
}

@keyframes popup {
  0% {
    transform: translateY(calc(125% + 10px));
  }

  25% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(125% + 10px));
  }
}

.container i {
  border: 1px solid;
  border-radius: var(--border);

  /* Alignment */
  position: absolute;
  padding: 5px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 50px;
}

.container .message {
  text-transform: capitalize;
  position: absolute;
  text-align: center;
  margin: auto;
  margin-left: 75px;
  top: 50%;
  width: 80%;
  transform: translateY(-50%);
}
