.container {
  background-color: var(--color-primary);
  border: 2px solid white;
  border-radius: var(--border);
  color: white;

  width: 400px;
  height: 75px;

  /* top: 0; */
  bottom: 10px;
  left: 20px;
  margin-top: 15px;

  position: fixed;
  z-index: 999;
}

.container i {
  padding: 5px;
  position: absolute;
  font-size: 50px;
  transform: translateY(-50%);
  left: 10px;
  top: 50%;
}

.container .message {
  position: absolute;
  text-align: center;
  margin: auto;
  margin-left: 80px;
  transform: translateY(-50%);
  top: 50%;

  width: 80%;
}
