.container {
  /* Colors */
  background-color: var(--color-primary);
  border: 2px solid white;
  border-radius: var(--border);
  color: white;

  /* Alignment */
  position: fixed;
  width: 400px;
  height: 75px;
  bottom: 10px;
  left: 20px;
  margin-top: 15px;

  z-index: 999;
}

.container i {
  /* Alignment */
  position: absolute;
  padding: 5px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 50px;
}

.container .message {
  position: absolute;
  text-align: center;
  margin: auto;
  margin-left: 80px;
  top: 50%;
  width: 80%;
  transform: translateY(-50%);
}
