.searchContainer {
  /* Colors */
  background-color: var(--color-primary);
  box-shadow: 0px 4px 5px black;
  border-radius: var(--border);

  /* Alignment */
  position: absolute;
  top: 10px;
  left: 5%;
  width: 90%;
  padding: 10px;

  z-index: 5;
}

.searchBar {
  overflow: visible;
}

.searchBar input {
  /* Colors */
  color: white;

  /* Alignment */
  width: 90%;
  background: 0 0;
  border: none;
  outline: 0;
  margin-left: 0;
  position: relative;

  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: -0.01em;
}
.searchBar input::placeholder {
  color: #ffffff;

  opacity: 0.75;
}
.searchBar .faSearch {
  color: #ffffff;

  padding: 0 5px 0 5px;

  font-size: var(--large-font);
  opacity: 0.75;
}

@media screen and (max-width: 720px) {
  .searchBar .faSearch {
    display: none;
  }
}
