.searchBar {
  /* Colors */
  background-color: var(--color-primary);
  filter: drop-shadow(0 10px 5px black);
  border-radius: var(--border);

  /* Alignment */
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 5%;
  width: 90%;
  padding: 10px;
  font-size: var(--large-font);

  z-index: 5;
  overflow: visible;
}

.searchBar .inputField {
  /* Colors */
  color: white;

  /* Alignment */
  width: 100%;
  background: 0 0;
  border: none;
  outline: 0;
  margin-left: 0;
  position: relative;

  text-transform: capitalize;
}

.searchBar .inputField::placeholder {
  color: #ffffff;
  opacity: 0.75;
}

.searchBar .icon {
  color: #ffffff;
  opacity: 0.75;
}
