.containerTitle {
  margin-bottom: 0;
  font-weight: bolder;
  user-select: none;
}

.container {
  /* Colors */
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  padding: 10px;
  gap: 10px;
  width: 80%;
}

.volumeSection {
  /* Colors */
  background-color: var(--color-primaryDark);
  border-radius: var(--border);

  /* Alignment */
  padding: 10px;
  margin: 5px;
  width: max-content;

  text-align: center;
}

@media screen and (max-width: 720px) {
  .container {
    width: 95%;
  }
}
