/* .aboutWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.aboutContainer {
  border-radius: var(--border);

  position: absolute;
  width: 500px;
  height: 50px;
  backdrop-filter: blur(var(--blur-amount));
  background-color: var(--blur-background);
  color: white;
} */

.containerTitle {
  margin-bottom: 0;
  font-weight: bolder;
  user-select: none;
}

.container {
  background-color: var(--color-primary);
  color: white;
  /* background-color: hsla(0, 0%, 39%, 0.5); */
  padding: 10px;
  border-radius: var(--border);
  width: 80%;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

.volumeSection {
  background-color: var(--color-primaryDark);
  border-radius: var(--border);
  padding: 10px;
  margin: 5px;

  text-align: center;
}

@media screen and (max-width: 720px) {
  .container {
    width: 95%;
  }
}
