.toolTip {
  display: inline-block;
  position: relative;

  user-select: none;
}

.toolTip div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolTip .toolTipText {
  /* Colors */
  background-color: black;
  border-radius: var(--border);
  color: #fff;

  /* Alignment */
  position: absolute;
  width: max-content;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  top: 25%;
  left: 105%;

  z-index: 1;
  opacity: 0;

  transition: 0.2s;
}

.toolTip:hover .toolTipText {
  opacity: 1;
}
