.headerWrap {
  /* Colors */
  background-color: var(--color-primaryLight);
  color: white;

  /* Alignment */
  position: sticky;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;

  z-index: 5;
  user-select: none;
}

.inputWrap {
  margin: auto;
  overflow: hidden;
}

.buttonWrap {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .headerWrap {
    position: initial;
  }
  .buttonWrap {
    justify-content: center;
  }
}
