.container {
  display: flex;
  flex-direction: column;

  border-radius: var(--border);

  background-color: var(--eerie-black);
  width: 40%;
  height: auto;
  /* padding: 15px; */
  position: absolute;
  color: white;

  overflow: hidden auto;
}

.descriptionWrapper h2 {
  margin: 20px 0 0 0;
  padding: 0;
}

.descriptionWrapper {
  user-select: none;

  padding: 15px;
  z-index: 1;

  position: relative;
}

.description {
  background-color: var(--maximum-blue-purple);
  border-radius: var(--border);

  color: black;
  padding: 10px;
  margin: 0;
  max-height: 100%;

  font-size: large;
  overflow: hidden auto;
}

.container .infoWrapper {
  padding: 15px;

  width: 100%;
  display: flex;

  z-index: 1;

  /* color: white; */
}

.infoWrapper .cover {
  z-index: 1;

  border-radius: var(--border);

  width: 120px;
  height: 170px;
  margin: 5px;
}

.infoWrapper .coverWrapper {
  z-index: 1;
}

.banner img {
  backdrop-filter: blur(2px);
  filter: blur(var(--blur-amount)) brightness(50%);

  width: 100%;
  height: 280px;

  object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
}

.banner {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  overflow: hidden;

  z-index: 0;
  width: 100%;
  height: 50%;
  position: absolute;
}

.infoWrapper .info {
  margin-left: 5px;

  z-index: 1;
}

.info .title {
  padding: 10px;
  border-radius: var(--border);
  background-color: black;
  color: white;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: larger;
}

.container ul li {
  margin: 5px;
  padding: 5px;
  border-radius: var(--border);

  background-color: var(--maximum-blue-purple);
}

@media screen and (max-width: 720px) {
  .infoWrapper {
    justify-content: center;
    align-items: center;
  }

  .infoWrapper {
    flex-direction: column;
  }

  .container {
    width: 100%;
    max-height: 90%;
  }
}

.dark {
  color: white;
  background-color: var(--eerie-black);
}
.light {
  color: black;
  background-color: var(--light-cyan);
}
