.pageWrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

/* BANNER */
.bannerWrapper {
  background: hsl(271, 100%, 65%);

  /* Alignment */
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;

  z-index: 0;
  overflow: hidden;
}

.bannerWrapper img {
  filter: blur(var(--blur-amount)) brightness(50%);

  /* Alignment */
  width: 100%;
  height: 450px;
  transform: scale(1.1);

  object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
}

/* INFO WRAPPER */

.infoWrapper {
  /* Alignment */
  display: flex;
  width: 100%;
  padding: 20px;

  z-index: 1;
}

.coverWrapper {
  z-index: 10;
}

.infoWrapper .cover {
  border-radius: var(--border);

  /* Alignment */
  height: 400px;
  margin: 5px;

  z-index: 10;
  object-fit: contain;
}

.infoWrapper ul {
  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);

  /* Alignment */
  text-align: center;
  min-width: 100%;
  width: min-content;
  margin: 20px auto auto auto;
  padding: 5px;

  font-size: larger;
  list-style: none;
}

/* INFO */

.infoWrapper .info {
  /* Alignment */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* flex: 0.5; */

  z-index: 1;
}

.info .title {
  /* Colors */
  color: white;
  border-radius: var(--border);
  background-color: black;

  /* Alignment */
  width: 100%;
  padding: 10px;
  text-align: center;
}

.infoWrapper ul li {
  margin: 5px;
}

.infoWrapper ul li hr {
  background-color: white;
  height: 5px;
}

.descriptionWrapper {
  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);

  /* Alignment */
  margin: 10px;
  width: 100%;
  padding: 15px;
  position: relative;

  user-select: none;
  z-index: 1;
}

.descriptionWrapper h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.description {
  /* Alignment */
  margin: 0;
  max-height: 100%;

  font-size: large;
  overflow: hidden auto;
}

/* VOLUME WRAPPER */

.volumeWrapper {
  /* Alignment */
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;

  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);
}

.volumeList {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row wrap;
  flex-wrap: wrap;
}

.volumeItem {
  /* Colors */
  background-color: var(--color-primaryDark);
  border-radius: var(--border);

  /* Alignment */
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.volumeItem div {
  width: 197.3px;
}

.volumeCover {
  border-radius: var(--border);
  object-fit: contain;
  height: 250px;
}

/* .volumeList li:hover {
  box-shadow: 0px 10px 10px black;
} */

@media screen and (max-width: 720px) {
  .infoWrapper .info {
    margin-left: 0;
  }

  .infoWrapper {
    justify-content: center;
    align-items: center;
  }

  .infoWrapper {
    flex-direction: column;
  }
}
