.headerWrap {
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: var(--z-fixed);
  width: 100%;
  padding: var(--padding-medium);
  color: white;

  img {
    opacity: 1;
    border-radius: var(--border);
    object-fit: cover;
  }

  .background {
    transform: scale(1.05);
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;

    filter: blur(10px) brightness(60%);
    border-radius: var(--border);
    z-index: -1;
  }
}

.detailsWrap {
  width: 100%;
  .details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .detailItem {
    color: white;
    background-color: var(--accent);
    border-radius: var(--border);
    padding: var(--padding-small);
    text-align: center;
    margin: var(--padding-mini);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    p {
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    span {
      color: var(--accent-dark);
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .volumeList {
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
}

.addOverlay {
  top: 470px;
  width: 15rem;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 1024px) {
  .detailsWrap {
    .details {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
