.container {
  display: flex;
  flex-direction: column;

  border-radius: var(--border);

  background-color: var(--eerie-black);
  max-width: 90%;
  height: auto;
  /* padding: 15px; */
  position: absolute;
  color: white;

  overflow: hidden auto;

  padding: 10px;

  z-index: 999;
}

.descriptionWrapper h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.descriptionWrapper {
  color: white;
  background-color: var(--french-violet);
  border-radius: var(--border);
  margin: 10px;

  user-select: none;

  padding: 15px;
  z-index: 1;

  position: relative;
}

.description {
  margin: 0;
  max-height: 100%;

  font-size: large;
  overflow: hidden auto;
}

.container .infoWrapper {
  padding: 20px;

  width: 100%;
  display: flex;

  z-index: 1;

  /* color: white; */
}

.infoWrapper .cover {
  z-index: 1;

  border-radius: var(--border);

  width: 120px;
  height: 170px;
  margin: 5px;
}

.infoWrapper .coverWrapper {
  z-index: 1;
}

.banner img {
  /* backdrop-filter: blur(2px); */
  filter: blur(var(--blur-amount)) brightness(50%);

  width: 100%;
  height: 280px;
  transform: scale(1.1);

  object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
}

.banner {
  background: hsl(271, 100%, 65%);

  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  overflow: hidden;

  z-index: 0;
  width: 100%;
  height: auto;
  position: absolute;
}

.infoWrapper .info {
  margin-left: 20px;
  flex: 0.5;

  z-index: 1;
}

.info .title {
  background-color: black;
  border-radius: var(--border);
  text-align: center;

  padding: 10px;
  color: white;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: larger;

  padding: 5px;
  border-radius: var(--border);

  color: white;
  background-color: var(--french-violet);
  /* background-color: var(--maximum-blue-purple); */
}

.container ul li {
  margin: 5px;
}

.container ul li hr {
  height: 5px;
  background-color: white;
}

@media screen and (max-width: 720px) {
  .infoWrapper {
    justify-content: center;
    align-items: center;
  }

  .infoWrapper {
    flex-direction: column;
  }

  .container {
    width: 100%;
    max-height: 90%;
  }
}

.dark {
  color: black;
  background-color: var(--eerie-black);
}
.light {
  color: black;
  background-color: var(--light-cyan);
}
