.container {
  /* Colors */
  background-color: var(--backgroundColor-themeDark);
  color: white;
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  height: auto;
  padding: 10px;

  overflow: hidden auto;
  z-index: 999;
}

.descriptionWrapper h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.descriptionWrapper {
  /* Colors */
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border);

  /* Alignment */
  margin: 10px;
  padding: 15px;

  user-select: none;
  z-index: 1;
  position: relative;
}

.description {
  /* Alignment */
  margin: 0;
  max-height: 100%;

  font-size: large;
  overflow: hidden auto;
}

.container .infoWrapper {
  /* Alignment */
  display: flex;
  width: 100%;
  padding: 20px;

  z-index: 1;
}

.infoWrapper .cover {
  border-radius: var(--border);

  /* Alignment */
  width: 120px;
  height: 170px;
  margin: 5px;

  z-index: 1;
}

.infoWrapper .coverWrapper {
  z-index: 1;
}

.banner img {
  filter: blur(var(--blur-amount)) brightness(50%);

  /* Alignment */
  width: 100%;
  height: 280px;
  transform: scale(1.1);

  object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
}

.banner {
  background: hsl(271, 100%, 65%);

  /* Alignment */
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  overflow: hidden;
  z-index: 0;
}

.infoWrapper .info {
  flex: 0.5;
  margin-left: 20px;

  z-index: 1;
}

.info .title {
  /* Colors */
  background-color: black;
  color: white;
  border-radius: var(--border);

  /* Alignment */
  padding: 10px;
  text-align: center;
}

.container ul {
  /* Colors */
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border);

  /* Alignment */
  padding: 5px;
  margin: 0;

  font-size: larger;
  list-style: none;
}

.container ul li {
  margin: 5px;
}

.container ul li hr {
  background-color: white;

  height: 5px;
}

@media screen and (max-width: 720px) {
  .infoWrapper {
    justify-content: center;
    align-items: center;
  }

  .infoWrapper {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
}

.dark {
  color: black;
  background-color: var(--backgroundColor-themeDark);
}
.light {
  color: black;
  background-color: var(--backgroundColor-themeLight);
}
