/* INFO WRAPPER */

.infoWrap {
  /* Alignment */
  display: flex;
  width: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;

  z-index: 999;
}

.coverWrap {
  z-index: 10;
}

.coverWrap .cover {
  border-radius: var(--border);

  /* Alignment */
  /* height: 400px;
  margin: 5px; */
  /* max-width: 100%; */
  width: 300px;
  margin: auto auto 10px auto;

  z-index: 10;
  object-fit: cover;
}

.infoWrap ul {
  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);

  /* Alignment */
  text-align: center;
  min-width: 100%;
  width: min-content;
  margin: 20px auto auto auto;
  padding: 5px;

  font-size: var(--large-font);
  list-style: none;
}

/* INFO */

.infoWrap .info {
  /* Alignment */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* flex: 0.5; */

  z-index: 1;
}

.info .title {
  /* Colors */
  background-color: var(--color-primaryLight);
  color: white;
  border-radius: var(--border);
  /* Alignment */
  padding: 5px;
  margin-top: 0;
  width: 100%;

  text-align: center;
}

.infoWrap ul li {
  border-radius: var(--border);
  background-color: var(--color-primaryLight);

  margin: 5px;
  padding: 5px;
}

.infoWrap ul li hr {
  background-color: white;

  height: 5px;
}

.descriptionWrap {
  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);

  /* Alignment */
  margin: 0 10px 10px 10px;
  width: 100%;
  padding: 15px;
  position: relative;

  user-select: none;
  z-index: 1;
}

.descriptionWrap h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.description {
  /* Alignment */
  margin: 0;
  max-height: 100%;

  font-size: var(--large-font);
  overflow: hidden auto;
}

/* VOLUME WRAPPER */

.volumeWrap {
  /* Alignment */
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;

  /* Colors */
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border);
}

.volumeList {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row wrap;
  flex-wrap: wrap;
}

.volumeItem {
  /* Colors */
  background-color: var(--color-primaryLight);
  border-radius: var(--border);

  /* Alignment */
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.volumeItem p {
  padding: 10px;
  margin: 0%;
  max-height: 58px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  font-size: var(--large-font);
}

.volumeItem .volumeDetailsWrap {
  border-radius: var(--border);
  background-color: var(--color-primaryLighter);

  width: 197.3px;
  /* margin: 5px 5px 10px 5px; */
  margin: 5px;
  padding: 5px;

  line-height: 28px;
}

.volumeItem .volumeDetailsWrap h3 {
  margin: 10px;
}

.volumeCover {
  border-radius: var(--border);
  object-fit: contain;
  /* height: 250px; */
  width: 200px;
}

/* .volumeList li:hover {
  box-shadow: 0px 10px 10px black;
} */

@media screen and (max-width: 720px) {
  .infoWrap .info {
    margin-left: 0;
  }

  .infoWrap {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .coverWrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .cover {
    display: block;
  }
}
