.container {
  /* Colors */
  color: white;
  border-radius: var(--border);
  background-color: var(--background-color);
  border: 2px solid white;

  /* Alignment */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 85%;
  height: 85%;
  /* padding: 10px; */
  padding-top: 65px;

  overflow-y: auto;
  z-index: 10;
}

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}
