@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans);

:root {
  --border: 0.3em;
  --blur-amount: 10px;
  --button-scale: 1.06;

  /* Colors */
  --color-primary: hsla(264, 71%, 47%, 1); /* #6723cd */
  --color-primaryLight: hsl(264, 71%, 55%); /* #7B39DD */
  --color-primaryLighter: hsl(264, 71%, 66%); /* #9C6AE6 */
  --color-primaryDark: hsl(264, 71%, 34%); /* #491992 */
  --color-primaryDarker: hsl(264, 71%, 20%); /* #2C0F58 */

  /* --color-primary: hsla(266, 94%, 51%, 1); */
  --backgroundColor-themeLight: hsla(184, 100%, 94%, 1);
  --backgroundColor-themeDark: hsla(0, 0%, 8%, 1);
  --blur-background: hsla(0, 0%, 0%, 0.5);
}

@-moz-document url-prefix() {
  :root {
    --blur-background: hsla(0, 0%, 0%, 0.7);
  }
}

* {
  font-family: "Kumbh Sans", serif;
  scroll-behavior: smooth;
  /* font-weight: normal; */
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #8f8f8f;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
