@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans);

:root {
  --blue-violet: hsla(272, 72%, 52%, 1);
  --plump-purple: hsla(262, 52%, 47%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --magnolia: hsla(222, 100%, 96%, 1);
  --eerie-black: hsla(0, 0%, 8%, 1);
}

* {
  font-family: "Kumbh Sans", serif;
  scroll-behavior: smooth;
  font-weight: normal;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #8f8f8f;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
