.sectionItem {
  cursor: pointer;
  padding: var(--padding-small);

  border-radius: var(--border);
  flex: 0.3;
  overflow: hidden;

  .sectionItemList {
    padding-top: var(--padding-small);
    gap: 10px;
    flex-wrap: wrap;
  }
}
