.cardListContainer {
  overflow-y: auto;
  width: 100%;
}

.cardListFeed {
  padding: 0;
  color: white;
  display: flex;
  /* margin: 18px; */
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.cardListFeed li {
  list-style: none;
}

.newBook {
  box-shadow: 0px 4px 5px black;

  text-align: center;

  width: 52px;
  height: 52px;

  display: block;
  background-color: var(--french-violet);
  color: white;
  border-radius: var(--border);
  font-size: 20px;
  bottom: 3.5em;
  right: 1em;
  padding: 15px;
  line-height: 26px;

  position: fixed;
  transition: 0.2s;
  z-index: 999;
}

.newBook:hover {
  transform: scale(var(--button-scale));
  background-color: var(--spanish-violet);
  cursor: pointer;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  /* margin: 20px; */

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0;
  }
  .cardListContainer {
    height: 100%;
    width: 100%;
  }
}

.dark {
  background-color: var(--eerie-black);
  transition: 0.2s;
}
.light {
  background-color: var(--light-cyan);
  transition: 0.2s;
}
