.container {
  /* Colors */
  color: white;
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  height: 100%;
  padding-top: 50px;

  overflow-y: auto;
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0;
    margin-top: 100px;
  }
}

.dark {
  background-color: var(--backgroundColor-themeDark);

  transition: 0.2s;
}
.light {
  background-color: var(--backgroundColor-themeLight);

  transition: 0.2s;
}
