.container {
  /* Colors */
  color: white;
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  /* padding-top: 50px; */

  overflow-y: auto;
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0;
    /* margin-top: 100px; */
  }
}
