.container {
  /* Colors */
  color: white;
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30%;
  height: 80%;
  /* padding-top: 65px; */

  overflow-y: auto;
  z-index: 10;
}

.dark {
  color: white;
  background-color: var(--backgroundColor-themeDark);
}
.light {
  color: black;
  background-color: var(--backgroundColor-themeLight);
}
