.container {
  /* Colors */
  color: white;
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 60vh;
  height: 80%;
  padding: 5px;
  /* padding-top: 65px; */

  overflow-y: auto;
  z-index: 10;
}

.icon {
  width: 128px;
  height: 128px;
}

.tutorialWrap {
  display: none;
}

.tutorialContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tutorial {
  border: 2px solid;
  border-radius: var(--border);

  display: flex;
  flex-flow: column;
}
.tutorial img {
  width: 200px;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.buttonWrap {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

@media screen and (max-width: 720px) {
  .tutorialWrap {
    display: initial;
  }
  .container {
    width: 100%;
  }
}

.dark {
  color: white;
  background-color: var(--backgroundColor-themeDark);
}
.light {
  color: black;
  background-color: var(--backgroundColor-themeLight);
}
