.container {
  /* Colors */
  color: white;
  border-radius: var(--border);
  border: 2px solid white;

  /* Alignment */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 60vh;
  height: 80%;
  padding: 5px;
  text-align: center;
  padding-top: 15px;

  overflow-y: auto;
  z-index: 10;
}

.tutorialWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tutorial {
  border: 2px solid;
  border-radius: var(--border);

  display: flex;
  flex-flow: column;
  margin: 5px;
  width: min-content;
}

.buttonWrap {
  display: flex;
  flex-flow: row wrap;

  gap: 10px;
}

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}

.dark {
  color: white;
  background-color: var(--backgroundColor-themeDark);
}
.light {
  color: black;
  background-color: var(--backgroundColor-themeLight);
}
