.container {
  /* Colors */
  border-radius: var(--border);

  /* Alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--text-color);

  overflow-y: auto;

  .title {
    span {
      font-weight: var(--font-bold);
      color: var(--accent);
    }
  }

  .about {
    border-radius: var(--border);
    color: black;

    padding: 20px;

    overflow: hidden;
    user-select: none;
  }

  .features {
    color: white;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: stretch;

    div {
      background-color: var(--accent);
      border-radius: var(--border);

      flex: 45%;
      padding: 5px;
    }
  }
}

.logo {
  margin: 10px;
}

.googleBtn {
  font-family: "Roboto", sans-serif;

  background: white;
  color: #444;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;

  /* Alignment */
  display: inline-block;
  width: 190px;
  padding: 12px;
  margin: 5px 0;
  opacity: 0.85;
  line-height: 20px;

  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .features {
    flex-direction: column;
  }
}
