.container {
  /* display: flex;
  flex-direction: column; */

  border-radius: 10px;

  background-color: var(--eerie-black);
  width: 85%;
  height: 85%;
  position: absolute;
  padding-top: 100px;
  color: white;

  overflow-y: auto;
}

.dark {
  color: white;
  background-color: var(--eerie-black);
}
.light {
  color: black;
  background-color: var(--magnolia);
}

@media screen and (max-width: 720px) {
  .container {
    width: 95%;
  }

  .searchBar .faSearch {
    visibility: hidden;
  }
}
