.main {
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.dark {
  color: white;
  background-color: var(--backgroundColor-themeDark);
}
.light {
  color: black;
  background-color: var(--backgroundColor-themeLight);
}
