.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--background);

  flex: 1 1;

  padding: 1rem 13.5rem 0 13.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: var(--padding-normal);
  }
}

@supports (-webkit-touch-callout: none) {
  .container {
    display: block;
  }
}
