.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--background);

  flex: 1 1;

  padding: 1rem 15rem 0 15rem;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 1rem;
  }
}
