.logo{
  width: inherit;
  height: inherit;
}

.dark {
  color: white;
  background-color: var(--backgroundColor-themeDark);
}
.light {
  color: black;
  background-color: var(--backgroundColor-themeLight);
}
