.section {
  width: 100%;
  margin: 10px 0 10px 0;
  h2 {
    text-align: center;
  }
  .sectionContainer {
    textarea {
      border-radius: var(--border);
      width: 100%;
      resize: none;
      border: 2px solid var(--accent);
    }

    .bannerPreview {
      opacity: 1;
      border-radius: var(--border);
      object-fit: contain;
    }
  }
}

.volumeList {
  gap: 10px;
  flex-wrap: wrap;
  color: black;
  align-items: flex-start;
}

.volumeList .placeholder {
  width: 200px;
  height: 300px;
  border-radius: var(--border);
  box-sizing: border-box;
  text-align: center;
  background-color: var(--accent);
  color: white;

  margin-bottom: 10px;
}

.volumeItem {
  width: 200px;
  position: relative;

  // &:hover > .removeBook {
  //   display: initial;
  // }

  .removeBook {
    // display: none;
    background-color: var(--accent);
    border-radius: var(--border);
    top: 10px;
    right: 10px;
    padding: var(--padding-small);
    position: absolute;
    text-align: center;
    color: white;

    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  }

  .book {
    img {
      border-radius: var(--border);
      opacity: 1;
    }
    .volumeDetails {
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    .sectionContainer {
      div {
        flex-direction: column;
        width: 100%;
      }
    }
  }
  // .volumeItem {
  //   .removeBook {
  //     display: block;
  //   }
  // }
}
