.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  color: var(--text-color);
}

.containerTitle {
  margin-bottom: 10px;
}

.pageContent textArea {
  font-size: var(--large-font);
  padding: 0.25em 0.5em;
  width: 100%;
  min-width: 100%;
  border-radius: var(--border);
}

.volumeWrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (max-width: 720px) {
  .pageContent {
    width: 100%;
  }
}
